.header-menu-container .header-menu-holder {
  display: none;
}
.cart-product-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-price {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
}
.total-price {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
}
