$hover_color_font_blue: #2196f3;

// .list-header {
//   height: 50px;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;
//   background-color: white;
//   border-bottom: 1px solid #ccc;
//   width: 1200px;
//   padding: 0px 10px;
//   border-top-left-radius: 10px;
//   border-top-right-radius: 10px;
//   box-shadow: 5px 5px 10px #ccc;

//   &-title {
//     font-weight: bold;
//     font-size: 20px;
//   }
//   ul {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     margin: 0;
//     li {
//       list-style: none;
//       padding-left: 16px;

//       a {
//         color: rgb(124, 124, 124);
//         font-weight: 500;
//         line-height: 16px;
//         font-size: 15px;
//         &:hover {
//           color: $hover_color_font_blue;
//         }
//       }
//     }
//   }
// }
.list-product {
  flex-wrap: wrap;
  // box-shadow: 5px 5px 10px #ccc;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;

  .list-product-img {
    position: relative;
    img {
      height: 380px;
      width: 480px;
      object-fit: cover;
    }
    .container-icon {
      position: absolute;
      z-index: 2;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      bottom: 0;
      margin-bottom: 8px;

      .icon-brand {
        background-color: white;
        border-radius: 10px;
        margin: 4px;
        cursor: pointer;
        img {
          height: 50px;
          width: 110px;
        }
        &:hover {
          img {
            opacity: 0.7;
          }
        }
      }
    }
  }

  &-item {
    height: 380px;
    border-left: 1px solid rgba(215, 215, 215, 0.345);
    padding: 0;
    background-color: white;
    border-bottom: 1px solid #ccc;

    &:first-child {
      border-left: none;
    }
    &:hover {
      box-shadow: 0px 0px 10px 1px rgba(160, 160, 160, 0.749);
      z-index: 1;
      .add-to-cart {
        display: block;
      }
    }

    &-img {
      object-fit: cover;
      height: 300px;
      width: 100%;
      cursor: pointer;
    }
    &-name {
      cursor: pointer;
      margin: 6px;
      font-size: 14px;
      font-weight: 500;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      display: -webkit-box;
      &:hover {
        color: $hover_color_font_blue;
      }
    }
    &-price {
      display: flex;
      flex-direction: row;
      &-now {
        margin-left: 6px;
        color: chocolate;
        font-weight: bold;
      }
      &-prev {
        color: rgb(118, 118, 118);
        margin: 0px 10px;
        text-decoration: line-through;
      }
      .discount {
        color: white;
        background-color: red;
        padding: 0px 3px;
        border-radius: 10px;
      }
    }
    .add-to-cart {
      position: absolute;
      background-color: #ecebea;
      width: 100%;
      text-align: center;
      font-size: 20px;
      height: 50px;
      line-height: 50px;
      font-weight: 500;

      bottom: 80px;
      border: 1px solid white;
      cursor: pointer;

      display: none;
      &:hover {
        background-color: $hover_color_font_blue;
        color: white;
      }
    }
    .icon-like {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      color: rgb(133, 133, 133);
      font-weight: bold;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }
}

.news {
  margin-top: 20px;
  margin-bottom: 20px;

  &-header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;

    padding: 0px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    font-weight: bold;
    font-size: 20px;
    // box-shadow: 5px 5px 10px #ccc;
    // border-bottom: 1px solid #ccc;

    &-view-all {
      font-size: 15px;
      color: #7c7c7c;
      cursor: pointer;
      &:hover {
        color: $hover_color_font_blue;
      }
    }
  }
  &_content {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    // box-shadow: 0px 0px 10px #ccc;

    .news-item {
      padding: 16px;
      padding-left: 4px;
      height: 380px;
      background-color: white;

      img {
        border-radius: 10px;
        transform: translateX(6px);
        cursor: pointer;
      }

      &-title {
        margin: 10px 0;
        font-weight: 500;
        font-size: 15px;
        cursor: pointer;
        padding-left: 8px;
        &:hover {
          color: $hover_color_font_blue;
        }
      }
      &-content {
        padding-left: 8px;
        margin-bottom: 10px;
        color: #7c7c7c;
      }
      .read-more {
        border: 1px solid $hover_color_font_blue;
        background-color: transparent;
        color: $hover_color_font_blue;
        padding: 6px 14px;
        border-radius: 20px;
        margin-left: 8px;
        &:hover {
          background-color: $hover_color_font_blue;
          color: white;
        }
      }
    }
  }
}

.product-list-container {
  border-radius: 10px;
}
.product-filter-container {
  border-radius: 10px;
  overflow: hidden;
}
.proCat-2-group {
  border-radius: 10px;
}
.pro-tag-container {
  border-radius: 10px;
}
