$hover_color_font_blue: #2196f3;

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .row {
    margin: 0;
    width: 100%;
    width: 1200px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .row {
    margin: 0;
    width: 100%;
    width: 1200px;
  }
  .col-xl-fix {
    flex: 0 0 41.666667%;
    max-width: 40%;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    margin: 0;
  }
  .header-search select {
    font-size: 14px;
  }
  .row {
    width: 960px;
    margin: 0;
  }

  header {
    max-width: 100%;

    .item.clearfix {
      display: none;
    }
    .item.clearfix:nth-child(5) {
      display: block;
    }
    .item.clearfix:nth-child(4) {
      display: block;
    }
    .item.clearfix:nth-child(3) {
      display: flex;
      padding-right: 10px;
    }
    .header-menu-holder {
      display: none;
      padding: 2px 0;
    }
    .header-menu {
      // display: none !important;
    }
  }
  .header-main {
    justify-content: center;
  }
  .header-icon-right {
    width: fit-content;
  }
  .slider_banner {
    padding: 0;
    // padding-right: 20px;
    padding-top: 1px;
    &-1 {
      width: 100% !important;
    }
  }

  .col.product_item:nth-child(5) {
    display: none;
  }
  .col.product_item:nth-child(4) {
    display: none;
  }
  .col.product_item {
    padding: 10px !important;
  }

  .col.cart_category-product-item:nth-child(2) {
    display: none;
  }
  .col.cart_category-product-item:last-child {
    display: none;
  }
  .col.cart_category-product-item {
    padding: 10px;
  }

  .news_content {
    // padding: 0px 10px;
  }
  footer {
    .footer-top {
      .item:last-child {
        display: none;
      }
    }
    i {
      display: none !important;
    }
  }

  .header-text-top .text-title a:last-child {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  body {
    margin: 0;
    // max-width: 960px;
    width: 540px;
  }
  html {
    width: 540px;
    // margin: 16px !important;
  }

  .footer_display {
    margin-left: 20px;
  }

  .row {
    // width: 540px !important;
    padding: 0;
    margin: 0;
  }

  header {
    select[name="scat_id"] {
      display: none;
    }
    form {
      margin: 0 6px;
    }
    .header-search {
      margin: 0;
      width: 330px;
      margin-right: 8px;
    }
    .header-text-top {
      display: none;
    }
    max-width: 960px;

    .item.clearfix {
      display: none;
    }
    .item.clearfix:last-child {
      display: block;
    }

    .header-menu-holder {
      display: none;
      padding: 2px 0;
    }
    .header-menu {
      display: none !important;
    }
  }
  .header-main {
    height: 60px;
    .m-0 {
      width: 40px;
      margin-right: 20px;
      .logo {
        .logo-img-fixed {
          display: block;
          z-index: 1;
          background-color: black;
          transform: translateX(-10px);
        }
        .logo-img {
          display: none;
        }
      }
    }
  }
  .cart_category .cart_category-header ul {
    display: none;
  }
  .news_content {
    padding: 0 !important;
    .new-item {
      height: 400px;
    }
  }
  .slider_category .slider_container button.slick-arrow {
    display: none !important;
  }
  .slider_popular .slider_container button.slick-arrow {
    display: none !important;
  }

  footer {
    .footer_display {
      flex-direction: column;

      .item:first-child {
        display: none;
      }
    }
    .footer-info {
      text-align: center;
      .item {
        margin-bottom: 20px;
        .glo-title {
          &::after {
            left: 50%;
            transform: translateX(-50%);
          }
        }
        ul {
          li {
            &::before {
              content: none;
            }
          }
          .email {
            &::before {
              content: none;
            }
          }
        }
      }
    }
  }

  // .header-icon-right {
  //   width: fit-content;
  // }
  // .slider_banner {
  //   padding: 0;
  //   padding-right: 20px;
  //   padding-top: 1px;
  //   &-1 {
  //     width: 100% !important;
  //   }
  // }

  // .col.product_item:nth-child(5) {
  //   display: none;
  // }
  .col.product_item:nth-child(3) {
    display: none;
  }
  // .col.product_item {
  //   width: 10%;
  // }

  .col.cart_category-product-item:nth-child(6) {
    display: none;
  }
  .col.cart_category-product-item:nth-child(7) {
    display: none;
  }
  .col.cart_category-product-item {
    height: 420px;
    .icon-like {
      right: 20px;
    }
  }
  .news-item {
    padding-left: 25px !important;
  }

  // .news_content {
  //   padding: 0px 10px;
  // }

  .footer-address {
    text-align: center;
  }
}

@media only screen and (max-width: 992px) {
  body {
    margin: 0;
    // max-width: 960px;
  }
  // header {
  //   position: fixed;
  //   width: 100%;
  //   z-index: 909900;
  // }
  .cart_category-product {
    &-item {
      height: 380px;
      border-left: 1px solid rgba(215, 215, 215, 0.345);
      padding: 0;
      background-color: white;
      border-bottom: 1px solid #ccc;

      &:first-child {
        border-left: none;
      }

      box-shadow: 0px 0px 10px 1px rgba(160, 160, 160, 0.749);
      z-index: 1;
      .add-to-cart {
        display: block !important;
      }

      &-img {
        object-fit: cover;
        height: 290px;
        width: 100%;
        cursor: pointer;
      }
      &-name {
        cursor: pointer;
        margin: 6px;
        font-size: 14px;
        font-weight: 500;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
        &:hover {
          color: $hover_color_font_blue;
        }
      }
      .discount {
        color: white;
        background-color: red;
        padding: 0px 3px;
        border-bottom-right-radius: 16px;
        position: absolute;
        top: 0;
        width: 50px;
        font-size: 18px;
        font-weight: 500;
        height: 30px;
      }
      &-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-now {
          color: chocolate;

          font-size: 18px;
          font-weight: 400;
          letter-spacing: 0.5px;
        }
        &-prev {
          color: rgb(118, 118, 118);
          margin: 0px 10px;
          text-decoration: line-through;
        }
      }
      .add-to-cart {
        position: absolute;
        background-color: #ecebea;
        width: 100%;
        text-align: center;
        font-size: 20px;
        height: 50px;
        line-height: 50px;
        font-weight: 500;

        bottom: 80px;
        border: 1px solid white;
        cursor: pointer;

        display: none;
        &:hover {
          background-color: $hover_color_font_blue;
          color: white;
        }
      }
      .sold-out {
        position: absolute;
        height: 60px;
        top: 46%;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        background-color: #ffb56b;
        width: 100%;
        transform: translateY(-70%);
        opacity: 0.9;
        line-height: 60px;
        display: none;
      }
      .comming-soon {
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        display: none;

        &::after {
          content: "Sắp về";
          height: 56px;
          position: absolute;
          width: 50px;
          background-image: url("https://mihanoi.vn/wp-content/uploads/2021/05/icon-sp-sap-ve.png");
          background-size: cover;
          z-index: 999;
          color: white;
          font-size: 16px;
          text-align: center;
          line-height: 20px;
          word-spacing: 3px;
          padding: 2px;
        }
      }
      .icon-like {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        color: rgb(133, 133, 133);
        font-weight: bold;
        cursor: pointer;
        &:hover {
          color: red;
        }
      }
    }
  }
  .daily_deal {
    .product_item {
      height: 380px;
      border-left: 1px solid rgba(215, 215, 215, 0.345);
      padding: 0;
      background-color: white;
      border-bottom: 1px solid #ccc;

      &:first-child {
        border-left: none;
      }
      &:hover {
        box-shadow: 0px 0px 10px 1px rgba(160, 160, 160, 0.749);
        z-index: 1;
        .add-to-cart {
          display: block;
        }
      }

      &-img {
        object-fit: cover;
        height: 270px !important;
        width: 100%;
        cursor: pointer;
      }
      &-name {
        cursor: pointer;
        margin: 6px;
        font-size: 14px;
        font-weight: 500;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
        &:hover {
          color: $hover_color_font_blue;
        }
      }
      .discount {
        color: white;
        background-color: red;
        padding: 0px 3px;
        border-bottom-right-radius: 16px;
        position: absolute;
        top: 0;
        width: 50px;
        font-size: 18px;
        font-weight: 500;
        height: 30px;
      }
      &-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-now {
          color: chocolate;

          font-size: 18px;
          font-weight: 400;
          letter-spacing: 0.5px;
        }
        &-prev {
          color: rgb(118, 118, 118);
          margin: 0px 10px;
          text-decoration: line-through;
        }
      }
      .add-to-cart {
        position: absolute;
        background-color: #ecebea;
        width: 100%;
        text-align: center;
        font-size: 20px;
        height: 50px;
        line-height: 50px;
        font-weight: 500;

        bottom: 80px;
        border: 1px solid white;
        cursor: pointer;

        display: none;
        &:hover {
          background-color: $hover_color_font_blue;
          color: white;
        }
      }
      .sold-out {
        position: absolute;
        height: 60px;
        top: 46%;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        background-color: #ffb56b;
        width: 100%;
        transform: translateY(-70%);
        opacity: 0.9;
        line-height: 60px;
        display: none;
      }
      .comming-soon {
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        display: none;

        &::after {
          content: "Sắp về";
          height: 56px;
          position: absolute;
          width: 50px;
          background-image: url("https://mihanoi.vn/wp-content/uploads/2021/05/icon-sp-sap-ve.png");
          background-size: cover;
          z-index: 999;
          color: white;
          font-size: 16px;
          text-align: center;
          line-height: 20px;
          word-spacing: 3px;
          padding: 2px;
        }
      }
      .icon-like {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        color: rgb(133, 133, 133);
        font-weight: bold;
        cursor: pointer;
        &:hover {
          color: red;
        }
      }
    }
  }
  .row {
    width: 720px;
    padding: 0;
    margin: 0;
  }
  .header-search select {
    font-size: 14px;
  }
  .icon-menu {
    display: block !important;
    padding-left: 20px;
  }
  .gitloi {
    max-width: 0;
  }
  header {
    .header-text-top {
      display: none;
    }
    max-width: 960px;

    .item.clearfix {
      display: none;
    }
    .item.clearfix:last-child {
      display: block;
    }
    .item.clearfix:nth-child(3) {
      display: none;
    }
    .header-menu-holder {
      display: none;
      padding: 2px 0;
    }
    .header-menu {
      display: none !important;
    }
  }
  .header-main {
    height: 60px;
    .m-0 {
      width: 40px;
      margin-right: 20px;
      .logo {
        .logo-img-fixed {
          display: block;
          z-index: 1;
          background-color: black;
          transform: translateX(-10px);
        }
        .logo-img {
          display: none;
        }
      }
    }
  }
  .cart_category .cart_category-header ul {
    display: none;
  }
  .news_content {
    padding: 0 !important;
    .new-item {
      height: 400px;
    }
  }
  footer {
    .footer_display {
      flex-direction: column;

      .item:first-child {
        display: none;
      }
    }
    .footer-info {
      .item {
        margin-bottom: 20px;
      }
    }
  }

  .col.cart_category-product-item:nth-child(6) {
    display: none;
  }
  .col.cart_category-product-item:nth-child(7) {
    display: none;
  }
  .col.cart_category-product-item {
    height: 420px;
    .icon-like {
      right: 20px;
    }
  }

  .cart_category .cart_category-product-item .add-to-cart {
    bottom: 125px !important;
  }
}
@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    // max-width: 960px;
  }
  .row {
    width: 540px !important;
    padding: 0;
    margin: 0;
  }
  .header-search .submit-search {
    background-color: #ccc;
    color: transparent;

    width: 50px;
    i {
      transform: translateY(8px);
    }
  }

  header {
    select[name="scat_id"] {
      display: none;
    }
    form {
      margin: 0 6px;
    }
    .header-search {
      margin: 0;
      width: 330px;
      margin-right: 8px;
    }
    .header-text-top {
      display: none;
    }
    max-width: 960px;

    .item.clearfix {
      display: none;
    }
    .item.clearfix:last-child {
      display: block;
    }
    .header-menu-holder {
      display: none;
      padding: 2px 0;
    }
    .header-menu {
      display: none !important;
    }
  }
  .header-main {
    height: 60px;
    .m-0 {
      width: 40px;
      margin-right: 20px;
      .logo {
        .logo-img-fixed {
          display: block;
          z-index: 1;
          background-color: black;
          transform: translateX(-10px);
        }
        .logo-img {
          display: none;
        }
      }
    }
  }
  .cart_category .cart_category-header ul {
    display: none;
  }
  .news_content {
    padding: 0 !important;
    .new-item {
      height: 400px;
    }
  }
  footer {
    .footer_display {
      flex-direction: column;

      .item:first-child {
        display: none;
      }
    }
    .footer-info {
      text-align: center;
      .item {
        margin-bottom: 20px;
        .glo-title {
          &::after {
            left: 50%;
            transform: translateX(-50%);
          }
        }
        ul {
          li {
            &::before {
              content: none;
            }
          }
          .email {
            &::before {
              content: none;
            }
          }
        }
      }
    }
    .footer-top .title {
      width: 200px;
    }
  }

  // .header-icon-right {
  //   width: fit-content;
  // }
  // .slider_banner {
  //   padding: 0;
  //   padding-right: 20px;
  //   padding-top: 1px;
  //   &-1 {
  //     width: 100% !important;
  //   }
  // }

  // .col.product_item:nth-child(5) {
  //   display: none;
  // }
  .col.product_item:nth-child(3) {
    display: none;
  }
  // .col.product_item {
  //   width: 10%;
  // }

  .col.cart_category-product-item:nth-child(6) {
    display: none;
  }
  .col.cart_category-product-item:nth-child(7) {
    display: none;
  }
  .col.cart_category-product-item {
    height: 420px;
    .icon-like {
      right: 20px;
    }
  }
  .news-item {
    padding-left: 25px !important;
  }

  // .news_content {
  //   padding: 0px 10px;
  // }

  .footer-address {
    text-align: center;
  }
}
